<div class="text-center">
    <span us-spinner spinner-key="spinner-1"></span>
    <h1>Reporting Configuration</h1>

    <table class="table table-striped table-bordered table-hover" border="1" ts-wrapper>
        <thead>
        <tr>
            <th width="8%"></th>
            <th ts-criteria="ip" width="16%" ts-default>Address</th>
            <th ts-criteria="user" width="8%">Username</th>
            <th ts-criteria="password" width="8%">Password</th>
            <th ts-criteria="version" width="5%">Version</th>
            <th width="55%">
                <span class="col-sm-4">Cluster name</span>
                <span class="col-sm-4">Business name</span>
                <span class="col-sm-4">Country</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="system in systems" ts-repeat>
            <td align="center">
                <button class="btn btn-xs btn-danger" ng-click="deleteSystem(system)">
                    <span title="Delete"><i class="fa fa-times"></i></span>
                </button>
                <button class="btn btn-xs btn-default" ng-click="testSystem(system)">
                    <span title="Test"><i class="fa fa-repeat"></i></span>
                </button>
                <span class="panel-title" title="{{system.testResult ? 'Connected' : 'Disconnected'}}">
                     <i style="color:{{system.testResult ? 'green' : 'red'}}"
                        class="fa {{system.testResult ? 'fa-link' : 'fa-chain-broken'}}"></i>
                </span>
            </td>
            <td align="center"><span title="IP address of one of the clusters in the system">{{system.ip}}</span></td>
            <td align="center"><a href="#" editable-text="system.user" onaftersave="updateSystem(system)">
                <span title="Username of cluster">{{system.user}}</span></a>
            </td>
            <td align="center"><a href="#" editable-text="system.password" onaftersave="updateSystem(system)">
                <span title="Password of cluster">{{system.password}}</span></a>
            </td>
            <td align="center"><span title="RecoverPoint for VM software version loaded on the configured cluster">{{system.systemVersion}}</span></td>

            <td align="left">
                <div class="row" ng-repeat="cluster in system.clusters">

                    <!--<span class="col-sm-4">{{cluster.clusterId}}</span>-->
                    <span class="col-sm-4">{{cluster.clusterName}}</span>
                    <span class="col-sm-4">
                        <a href="#" editable-text="cluster.friendlyName"
                           title="Optional field which allows you to assign a meaningful name to the cluster. Note that this name is not used in the RecoverPoint for VM system"
                                                  onaftersave="updateCluster(system.id,cluster)">{{cluster.friendlyName
                            || 'Add name'}}</a></span>
                    <span class="col-sm-4">
                        <a href="#" editable-text="cluster.country"
                           title="Define the billing entity for this cluster. The country can be configured per vRPA cluster"
                                                  onaftersave="updateCluster(system.id,cluster)">{{cluster.country ||
                            'Set country'}}</a></span>

                </div>
            </td>
        </tr>
        <tr class="form-group">
            <td>
                <button class="btn btn-sm btn-primary" ng-click="addSystem(newSystem)">
                    <span title="Use to add a single vRPA cluster in a new RecoverPoint for VM system">Add</span>
                </button>
            </td>
            <td><input id="ip" type="text" class="form-control" placeholder="IP address"
                       ng-model="newSystem.ip"></td>
            <td><input id="user" type="text" class="form-control" placeholder="User"
                       ng-model="newSystem.user"></td>
            <td><input id="password" type="password" class="form-control" placeholder="Password"
                       ng-model="newSystem.password"></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <!--<div>-->
    <!--<div class="row">-->
    <!--<span class="col-sm-1"></span>-->
    <!--<span class="col-sm-2"></span>-->
    <!--<span class="col-sm-1"></span>-->
    <!--<span class="col-sm-1"></span>-->

    <!--<div class="col-sm-7">-->
    <!--<div class="row">-->
    <!--<span class="col-sm-4">Cluster ID</span>-->
    <!--<span class="col-sm-3">Cluster Name</span>-->
    <!--<span class="col-sm-2">Business Name</span>-->
    <!--<span class="col-sm-3">Country</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="panel panel-info" ng-repeat="system in systems">-->
    <!--<div class="row">-->
    <!--<span class="col-sm-1">-->
    <!--<button class="btn btn-xs btn-danger" ng-click="deleteSystem(system)"><i class="fa fa-times"></i>-->
    <!--</button>-->
    <!--<button class="btn btn-xs btn-default" ng-click="testSystem(system)">-->
    <!--<i class="fa fa-repeat"></i>-->
    <!--</button>-->
    <!--<span class="panel-title">-->
    <!--<i style="color:{{system.testResult ? 'green' : 'red'}}"-->
    <!--class="fa {{system.testResult ? 'fa-link' : 'fa-chain-broken'}}"></i>-->
    <!--</span>-->
    <!--</span>-->
    <!--<span class="col-sm-2">{{system.ip}}</span>-->
    <!--<span class="col-sm-1"><a href="#" editable-text="system.user" onaftersave="updateSystem(system)">{{system.user}}</a></span>-->
    <!--<span class="col-sm-1"><a href="#" editable-text="system.password" onaftersave="updateSystem(system)">{{system.password}}</a></span>-->

    <!--<div class="col-sm-7" ng-hide="{{system.clusters.length==0}}">-->
    <!--<div class="row" ng-repeat="cluster in system.clusters">-->

    <!--<span class="col-sm-4">{{cluster.clusterId}}</span>-->
    <!--<span class="col-sm-3">{{cluster.clusterName}}</span>-->
    <!--<span class="col-sm-2"><a href="#" editable-text="cluster.friendlyName"-->
    <!--onaftersave="updateCluster(system.id,cluster)">{{cluster.friendlyName-->
    <!--|| 'Add name'}}</a></span>-->
    <!--<span class="col-sm-3"><a href="#" editable-text="cluster.country"-->
    <!--onaftersave="updateCluster(system.id,cluster)">{{cluster.country ||-->
    <!--'Set country'}}</a></span>-->
    <!--&lt;!&ndash;<button class="btn btn-sm" ng-click="editCluster(cluster)"><i class="fa fa-pencil-square-o"></i>&ndash;&gt;-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="panel panel-info">-->
    <!--<div class="row form-group">-->
    <!--<span class="col-sm-1">-->
    <!--<button class="btn btn-sm btn-primary" ng-click="addSystem(newSystem)">Add</button>-->
    <!--</span>-->
    <!--<span class="col-sm-2"><input id="ip" type="text" class="form-control" placeholder="IP address"-->
    <!--ng-model="newSystem.ip"></span>-->
    <!--<span class="col-sm-1"><input id="user" type="text" class="form-control" placeholder="User"-->
    <!--ng-model="newSystem.user"></span>-->
    <!--<span class="col-sm-1"><input id="password" type="password" class="form-control" placeholder="Password"-->
    <!--ng-model="newSystem.password"></span>-->
    <!--</div>-->
    <!--</div>-->

</div>

</div>
