<div class="modal-content modal-primary">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{'PROTECT-UNPROTECT.REMOVE_VM_MSG' | translate}} <b>{{vmName}}</b>
            {{'PROTECT-UNPROTECT.FROM_CONSIST_GROUP_MSG' | translate}} <b>{{cgName}}</b></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group">

                <label for="TARGET_COPIES_MSG" class="col-xs-4 control-label">{{'PROTECT-UNPROTECT.TARGET_COPIES_MSG' | translate}}</label>
                <div class="col-xs-8">
                    <div class="form-group" id="TARGET_COPIES_MSG">
                        {{vmGsAndCgFlatData[protectedSelectedIndex].
                        replicaClusters[0].groupCopySettings[0].name}}
                    </div><!-- /.form-group -->
                </div>
            </div>
            <div class="form-group clearfix ">
                <label for="TEST_NETWORK_MSG" class="col-xs-4 control-label">Service Class:</label>
                <div class="col-xs-8">
                    <div id="TEST_NETWORK_MSG"><strong>{{vmGsAndCgFlatData[protectedSelectedIndex].packageDisplayName}}</strong></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="col-xs-4 control-label">{{'PROTECT-UNPROTECT.BOOT_ORDER_MSG' | translate}}</label>
                <div class="col-xs-8">
                    <div class="form-group">

                        <div class="form-group clearfix ">
                            <label for="selectedSequenceNumber" class="col-xs-4 minus-padding-left-top control-label"> {{'PROTECT-UNPROTECT.VM_PRIORITY_IN_CG_MSG' | translate}}</label>
                            <div class="col-xs-8">
                                <div id="selectedSequenceNumber"><strong>{{selectedSequenceNumber}}</strong></div>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label for="CRITICAL_VM_MSG" class="col-xs-4 minus-padding-left-top control-label"> {{'PROTECT-UNPROTECT.CRITICAL_VM_MSG' | translate}}</label>
                            <div class="col-xs-8">
                                <div id="CRITICAL_VM_MSG"><input type="checkbox" id="criticalVmId" ng-model="isCriticalVm" ng-disabled="true"> </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="form-group clearfix ">
                <label for="PROCEED_TO_UNPROTECT_MSG" class="col-xs-4 control-label">{{'PROTECT-UNPROTECT.PROCEED_TO_UNPROTECT_MSG' | translate}}</label>
                <div class="col-xs-8">
                    <div id="PROCEED_TO_UNPROTECT_MSG"><input type="checkbox" class="minimal" id="unprotectCheckboxId" ng-model="unprotectCheckbox"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success  pull-left" ng-disabled="!unprotectCheckbox" ng-click="moveVm()"> {{'PROTECT-UNPROTECT.UNPROTECT_VM_MSG' | translate}}</button>


        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="cancel()">{{'ALL.CANCEL' | translate}}</button>
    </div>
</div>

