<div class="modal-header modal-header-primary">
    <a class="close" ng-click="cancel()">x</a>
	<h3 class="modal-title">
		<div class="centered-text">Failover problem</b></div>
	</h3>
</div>
<div class="modal-body">

	<br/>
	<div class="centered-text">
	      Cannot start the requested recovery activity until all of the critical VMs in the group have powered up, 
	      all of the user prompts have been dismissed, and all of the user scripts have been run successfully.
	</div>	
</div>
<div class="modal-footer centered-text div-grey">
	<button type="button" class="btn btn-primary" ng-click="cancel()">
	         Ok
	</button>
</div>

