/*
body { 
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body.body-grey {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F5F5F5;
}

div.div-solid-grey {  
  background-color: #B7B7B7;
}
*/


div.image {
   width: 140px;
   height: 140px;
   margin: 0 auto 20px;
   display: block;
   background-size:contain;
   background-image:url("../images/login.png");	
}


div.logo-image {
   width: 36px;
   height: 36px;
   margin-top: 8px; 
   margin-bottom: 8px;
   display: block;
   background-size:contain;
   background-image:url("../images/login.png");	
}	











