/*
body { 
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



div.image {
   width: 140px;
   height: 140px;
   margin: 0 auto 20px;
   display: block;
   background-size:contain;
   background-image:url("../images/login.png");	
}
*/



