/*
body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body.body-grey {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F5F5F5;
}


*/
html, body
{
    height: 98% !important;
    min-height: 98% !important;
}
.custom-border{
    border:3px solid #000;
    border-radius: 5px;
    margin:20px;
    padding:0px;
    min-height:98%;
}
.main-header{
    background-color: #3c8dbc;
    margin-bottom:10px;
}
header .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{
    color:#000
}
header .user a {
    color:#fff
}
header .logo{
    width:55% !important;
    font-size:38px !important;
    line-height: 60px !important;
}
.action-menu-button{
    background-color: #00a7d0 !important;
    color: #fff !important;
}
.btn-app{
    font-size:14px !important;
    margin: 0 0 0px 10px !important;
    height:72px !important;
}
.service-request{
    position: relative;
    top:-15px;

}
.service-request-position{
    /*position: relative;*/
    /*top:0px;*/
    /*right:0px;*/
}
header .logo-lg{
    color:#fff;
}
.nav > li > a:hover{
    background-color:#00a7d0 !important
}
.nav .open>a{
    background-color:#00a7d0 !important
}
.navbar-nav>li>a{
    height:61px;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus{
    background: none;
}
.audit-modal .table-striped>tbody>tr:nth-of-type(odd){
    background-color: #00a7d0 !important;
}
.audit-modal .table-hover>tbody>tr:hover{
    background-color: #23527c !important;
}
.white{
    color:#fff;
}
.scroll-table{
    overflow: auto;
    height: 400px;
}
input[type=checkbox], input[type=radio]{
    width:15px;
    height:15px;
}
.overlay>.fa{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 40px;
    color:#23527c
}
.header-blue{
    background-color:#3c8dbc;
    color:#fff !important;
}
.dragdrop{
    cursor: move;
}

/*header .navbar{*/
    /*border-top-left-radius:2px;*/
    /*padding:10px;*/
    /*border-top-right-radius:2px;*/
    /*background-color:#d2ecf7;*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d2ecf7, endColorstr=#1b6385);*/
    /*background-image:-moz-linear-gradient(top, #d2ecf7 0%, #1b6385 100%);*/
    /*background-image:-webkit-linear-gradient(top, #d2ecf7 0%, #1b6385 100%);*/
    /*background-image:-ms-linear-gradient(top, #d2ecf7 0%, #1b6385 100%);*/
    /*background-image:linear-gradient(top, #d2ecf7 0%, #1b6385 100%);*/
    /*background-image:-o-linear-gradient(top, #d2ecf7 0%, #1b6385 100%);*/
    /*background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#d2ecf7), color-stop(100%,#1b6385));*/
/*}*/
/*header .icon-border{*/
    /*padding: 10px;*/
    /*font-size:45px;*/
    /*text-align: center;*/
    /*background-color: #fff;*/
    /*border: 1px solid blue;*/
    /*color:#000;*/
/*}*/
/*header .title-text{*/
    /*font-size:50px;*/
    /*color:#0039e6;*/
    /*text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;*/
    /*font-style: italic;*/
    /*line-height: normal;*/
    /*font-family: Calibri;*/
    /*padding-bottom:10px;*/
    /*text-align: center;*/
/*}*/
/*header .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus{*/
    /*background: transparent;*/
/*}*/
/*header .navbar-brand{*/
    /*padding: 5px 15px 15px 15px;*/
/*}*/
/*header .padding-radius{*/
    /*padding-left:10px;*/
    /*padding-right:20px;*/
    /*padding-top:10px;*/
/*}*/
/*header .nav>li>a{*/
    /*padding:10px 5px;*/
/*}*/
/*header .label{*/
    /*position: relative;*/
    /*top:-20px;*/
    /*left:-15px*/
/*}*/
.open{
    /*min-height:100px;*/
}
*.icon-white {color: white}
*.icon-silver {color: silver}

div.image {
    width: 142px;
    height: 86px;
    margin: 0 auto 20px;
    display: block;
    background-size:contain;
    background-image:url("../images/login.png");
}

.title-user{
    color:#fff;
    font-size:14px;
    font-family: Arial;
    text-align: center;
    width:200px;
}
.name-user{
    color:#fff;
    font-size:14px;
    font-family: Arial;
    text-align: left;

}
.logo-image {
    width: 46px;
    margin: 3px auto 0 auto ;
    height: 38px;
    display: block;
    background-size: contain;
    background-image: url("../images/login.png");
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #fff;
    background-position: 1px 6px;

}
.text-logo{
    font-size:12px;
    color:#fff;
}
.divider{
    width: 1px;
    height: 60px;
    background-color: #fff;
}
.logo-position{
    padding-left:10px;
}
.title-user{
    font-size:16px;
    font-family: Arial;
}
.title-user span{
     color:yellow;
 }
.logoff-user a{
    padding-top:5px;
    color:#fff;
    font-size:16px;
}
.logoff-user a i{
    font-size:14px;
}
.vcenter{
    vertical-align: top;
}

.input-group-btn{
    width:5%;
}
.padding-search{
    padding-top:10px;
}
.text-red{
     color:red;
     font-size:16px;
     font-family: Arial;
 }
.text-yellow{
    color:yellow;
    font-size:16px;
    font-family: Arial;
}
.text-blue{
    color:blue;
    font-size:16px;
    font-family: Arial;
}
.fa-envelope-o, .fa-bell-o, .fa-flag-o, .fa-exclamation{
    font-size:30px;
    color:#fff;
}
.protected-line{
    line-height: 30px;
}
.fa-database{
    font-size:18px;
}
.box.box-solid.box-success-new{
    border: 1px solid #205081;
    min-height:600px;
}
.box.box-solid.box-success{
    min-height:600px;
    margin-bottom:10px;
}
.box.box-solid.box-success-new > .box-header {
    color: #ffffff;
    background: #205081;
    background-color: #205081;
}
.trlast:last-child{
    height: 70px;
    opacity: 0.4;
}
.trlast:last-child > td{
    color:#303030;
    font-size:30px;
    text-align: center;
    border-top:2px dotted dimgray;
    border-bottom:2px dotted dimgray;
    background-color: #7C7C7C;
    margin-top:10px;
    margin-bottom:10px;
}

.buttons-custom{
    float:none !important;
    margin:0 auto;
}
.buttons-custom-text{
    font-size:14px;
    color:#000;
    font-weight: bold;
}
.actionmenu .btn.disabled{
    opacity: 0.35;
}
.minus-padding-left{
    padding-left:0px;
    padding-top:10px;
}
.minus-padding-left-top{
    padding-left:0px;
}
.close{
    color:#fff;
    opacity: 1;
}
.separator-vm{
    border-bottom: 1px dashed #fff;
}
.separator-vm:last-child{
    border-bottom: none;
}











