<div class="modal-header modal-header-primary protect-modal">
    <a class="close" ng-click="cancel()">x</a>
	<h3 class="modal-title">
		<div class="centered-text">{{'PROTECT-UNPROTECT.ADD_VM_MSG' | translate}} <b>{{vmName}}</b> {{'PROTECT-UNPROTECT.TO_CONSIST_GROUP_MSG' | translate}} <b>{{cgName}}</b></div>
	</h3>
</div>
<div class="modal-body">

	<br/>
	<table class="table table-condensed table-striped">
		<thead>
		</thead>
		<tbody>
			<tr>						
				<td>
				    <div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 radio">
								{{'PROTECT-UNPROTECT.TARGET_COPIES_MSG' | translate}}	
						</div>
					</div>										
				</td>			
				<td>
				        <div class="row">
							<div class="col-xs-5 col-sm-5 col-md-5 radio">
								{{vmGsAndCgFlatData[protectedSelectedIndex].
	                                          replicaClusters[0].groupCopySettings[0].name}}
							</div>	
							<div class="col-xs-7 col-sm-7 col-md-7 margin-top">
							</div>	
						</div>

				</td>
			</tr>
			<tr>				
				<td margin-top>
				    <div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 radio">
								{{'PROTECT-UNPROTECT.REPLICA_VM_MSG' | translate}}	
						</div>
					</div>										
				</td>				
				<td>	
					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5 radio">
							 	Server Class
						</div>
						<div class="col-xs-7 col-sm-7 col-md-7 margin-top">
							<select class="form-control">
								<option>{{'PROTECT-UNPROTECT.PREMIUM_MSG' | translate}}</option>
								<option>{{'PROTECT-UNPROTECT.STANDARD_MSG' | translate}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5 radio">
							 	{{'PROTECT-UNPROTECT.STORAGE_CLASS_MSG' | translate}}
						</div>
						<div class="col-xs-7 col-sm-7 col-md-7 margin-top">
								<select class="form-control">
									<option>{{'PROTECT-UNPROTECT.PREMIUM_MSG' | translate}}</option>
									<option>{{'PROTECT-UNPROTECT.STANDARD_MSG' | translate}}</option>
								</select>
						</div>
					</div>
				</td>
			</tr>
			<tr>					
				<td>
					<div class="margin-top-lg">
							{{'PROTECT-UNPROTECT.BOOT_ORDER_MSG' | translate}}
					</div>
				</td>				
				<td>
					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5 margin-top-lg">
						     {{'PROTECT-UNPROTECT.VM_PRIORITY_IN_CG_MSG' | translate}}
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 margin-top">
								<select class="form-control" ng-model="selectedSequenceNumber">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5">
						     <label class="checkbox-inline">
							  	<input type="checkbox" id="inlineCheckbox1" ng-model="isCriticalVm" value="option1"> {{'PROTECT-UNPROTECT.CRITICAL_VM_MSG' | translate}}
							</label>
						</div>
					</div>
				</td>
			</tr>
		</tbody>					    
	</table>
</div>
<div class="modal-footer centered-text div-grey">
	<button type="button" class="btn btn-primary" ng-click="moveVm()">
	         {{'PROTECT-UNPROTECT.PROTECT_VM_MSG' | translate}}
	</button>
</div>

