<div class="modal-content modal-primary">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{'PROTECT-UNPROTECT.ADD_VM_MSG' | translate}} <b>{{vmName}}</b>
            {{'PROTECT-UNPROTECT.TO_CONSIST_GROUP_MSG' | translate}} <b>{{cgName}}</b></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group">
                <label for="SELECT_COPY_MSG" class="col-xs-3 control-label">{{'PROTECT-UNPROTECT.TARGET_COPIES_MSG' | translate}}</label>
                <div class="col-xs-9">
                    <div class="form-group" id="SELECT_COPY_MSG">
                        <b>{{vmGsAndCgFlatData[protectedSelectedIndex].
                            replicaClusters[0].groupCopySettings[0].name}}</b>
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="col-xs-3 control-label"> Service Class:</label>
                <div class="col-xs-9">
                    <div class="form-group">
                        <b>{{vmGsAndCgFlatData[protectedSelectedIndex].packageDisplayName}}</b>
                    </div>
                </div>
            </div>


            <div class="form-group clearfix ">
                <label for="TEST_NETWORK_MSG" class="col-xs-3 control-label">{{'PROTECT-UNPROTECT.BOOT_ORDER_MSG' | translate}}</label>
                <div class="col-xs-9">
                    <div id="TEST_NETWORK_MSG">
                        <strong> {{'PROTECT-UNPROTECT.VM_PRIORITY_IN_CG_MSG' | translate}}</strong>
                        <select class="form-control" ng-model="selectedSequenceNumber">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 minus-padding-left">
                            <input type="checkbox" ng-model="isCriticalVm" value="option1" class="minimal">
                            {{'PROTECT-UNPROTECT.CRITICAL_VM_MSG' | translate}}
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="false">
            <div class="form-group clearfix ">

                <label for="TEST_NETWORK_MSG" class="col-xs-5 control-label">
                    <input type="checkbox" ng-model="existing_protected" value="option1" class="minimal">
                    &nbsp;&nbsp;Protected to existing VM
                </label>
                <div class="col-xs-7">

                    <div class="form-group">
                        <strong>VM</strong>
                        <select class="form-control" ng-model="selectedSequenceNumber">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success  pull-left" ng-click="moveVm()">{{'PROTECT-UNPROTECT.PROTECT_VM_MSG' | translate}}</button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="cancel()">{{'ALL.CANCEL' | translate}}</button>
    </div>
</div>

