<div class="modal-content modal-primary">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><b>Create Consistency Group</b></h4>
    </div>
    <form name="userForm" ng-submit="createCg()">
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label for="cgName" class="col-xs-3 control-label"> Group Name:</label>
                    <div class="col-xs-9">
                        <div class="has-error">
                            <label ng-hide="!userForm.cgName.$error.required" class="control-label" for="cgName"><i class="fa fa-times-circle-o"></i> Please enter Group Name</label>
                        </div>
                        <div class="form-group">
                            <input name="cgName" ng-model="cgName" id="cgName"   class="form-control" type="text" required/>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Protect From:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <b>{{productionCluster.name}}</b>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label for="selectedReplicaCluster" class="col-xs-3 control-label">Protect To:</label>
                    <div class="col-xs-9">
                        <div class="form-group">

                            <select ng-model="selectedReplicaCluster"
                                    id="selectedReplicaCluster"
                                    ng-options="cluster.name for cluster in vmStructureData.systemInfo.replicaClusters"
                                    class="form-control">
                            </select>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Select VMs:</label>
                    <div class="col-xs-9">
                        <div class="form-group">

                            <div class="has-error">
                                <label ng-hide="selectedVms.length != null" class="control-label" ><i class="fa fa-times-circle-o"></i> Please select VM</label>
                            </div>

                            <multiselect ng-model="selectedVms"
                                         options="unprotectedVms"
                                         id-prop="id"
                                         display-prop="name"
                                         output-model="selectedVms"
                                         required></multiselect>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Service Class:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <select ng-model="selectedPackage"
                                    ng-options="package.displayName for package in vmStructureData.systemInfo.packages"
                                    class="form-control">
                            </select>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Description:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <b>{{selectedPackage.description}}</b>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Enable Replication:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <input type="checkbox" ng-model="enableReplication"/>
                        </div><!-- /.form-group -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger  pull-left">Create</button>
            <button type="button" class="btn btn-outline pull-right" data-dismiss="modal" ng-click="cancel()">Close</button>
        </div>
    </form>
</div>

