<md-dialog aria-label="List dialog">
    <md-dialog-content layout-padding>
        <div layout-gt-sm="row">
            <md-input-container class="md-block">
                <label>Login</label>
                <input ng-model="user.username">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="user.tenantName" placeholder="please select">
                    <md-option ng-repeat="a in tenants" value="{{a.name}}">{{a.label}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="user.password">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block">
                <label>First name</label>
                <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Last name</label>
                <input ng-model="user.lastName">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block">
                <label>email</label>
                <input ng-model="user.email">
            </md-input-container>
        </div>

    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="addUser()" class="md-primary">
            OK
        </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
