<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
</div>
<div layout="column" ng-hide="loading">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

        <h2>List of users</h2>
    </section>
    <section layout="row" layout-align="center center">
        <md-button class="md-raised" ng-click="showDialog()">
            <ng-md-icon icon="add"></ng-md-icon>
            Add
        </md-button>
        <md-button class="md-raised" ng-click="save()">
            <ng-md-icon icon="save"></ng-md-icon>
            Save
        </md-button>
    </section>
    <section layout="column">

        <mdt-table sortable-columns="true" animate-sort-icon="true">
            <mdt-header-row>
                <mdt-column>Actions</mdt-column>
                <mdt-column align-rule="left">Login</mdt-column>
                <mdt-column align-rule="left">Tenant</mdt-column>
                <mdt-column align-rule="left">Full name</mdt-column>
                <mdt-column align-rule="left">email</mdt-column>
                <mdt-column align-rule="left">Role</mdt-column>
                <mdt-column align-rule="left">Status</mdt-column>
                <!--<mdt-column align-rule="left">RP Clusters</mdt-column>-->
            </mdt-header-row>
            <mdt-row ng-repeat="user in config.users"
                     ng-click="addDialog(tenant)">
                <mdt-cell html-content="true">
                    <ng-md-icon icon="mode_edit" style="fill:cyan"
                                ng-click="showDialog(user)"></ng-md-icon>
                    <ng-md-icon icon="block"
                                style="fill: {{system.testResult ? 'green':'red'}}"
                                ng-show="user.role!='ADMIN'"
                                ng-click="deleteUser(user)"></ng-md-icon>
                </mdt-cell>
                <mdt-cell html-content="true">{{user.login}}</mdt-cell>
                <mdt-cell html-content="true">{{user.tenantName}}</mdt-cell>
                <mdt-cell html-content="true">{{user.fullName}}</mdt-cell>
                <mdt-cell html-content="true">{{user.email}}</mdt-cell>
                <mdt-cell html-content="true">{{user.role}}</mdt-cell>
                <mdt-cell html-content="true">{{user.status}}</mdt-cell>
            </mdt-row>
        </mdt-table>
    </section>
    <!--<section>-->
    <!--<pre>-->
            <!--{{json | json:spacing}}-->
    <!--</pre>-->
    <!--</section>-->
</div>
