<div layout="column" layout-align="center center">
    <h2>RPSP settings</h2>
    <section layout="row" layout-align="center center">
        <a class="md-button md-raised"
           download="settings.json"
           href="{{settingsLink}}">
            <ng-md-icon icon="get_app"></ng-md-icon>
            Export
        </a>
        <md-button class="md-raised" ng-click="import()">
            <ng-md-icon icon="file_upload"></ng-md-icon>
            Import
        </md-button>
    </section>
    <section>
    <pre>
            {{json | json:spacing}}
    </pre>
    </section>
</div>

