<div layout="column">
    <h2>RPSP settings</h2>
    <section layout="row" layout-align="start center">
        <a class="md-button md-raised"
           download="settings.json"
           href="{{settingsLink}}">
            <ng-md-icon icon="get_app"></ng-md-icon>
            Export
        </a>

    </section>
    <section layout="row" layout-align="start center">
        <md-button class="md-raised" ng-click="import()">
            <ng-md-icon icon="file_upload"></ng-md-icon>
            Import
        </md-button>
        <input type="file" id="files"/>
    </section>
    <section layout="row" layout-align="start center">
    <pre>
            {{json | json:spacing}}
    </pre>
    </section>
</div>

