<div class="modal-header modal-header-primary">
    <a class="close" ng-click="cancel()">x</a>

    <h3 class="modal-title">
        <div class="centered-text">{{'AUDIT.TITLE' | translate}}</div>

    </h3>
</div>
<div class="modal-body">
    <div class="navbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-floppy-o fa-lg"></i></a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <div class="input-group">
                  <span class="input-group-addon" ng-click="getAuditLog(1,searchFilter)">
                        <i class="fa fa-search"></i>
                  </span>
                <input type="text" class="form-control" ng-model="searchFilter"
                       placeholder="Search for...">
                <span class="input-group-addon" ng-click="clearSearchFilter()">
                   <i class="fa fa-close"></i>
                  </span>
            </div>
        </div>

    </div>
    <div align="center">
        <table class="table table-striped table-bordered table-hover" style="min-width:600px"
               border="1" ts-wrapper>
            <thead>
            <tr>
                <th ts-criteria="date" ts-default="descending">{{'AUDIT.DATETIME' | translate}}</th>
                <th ts-criteria="account+user">{{'AUDIT.ACCOUNT_AND_USER' | translate}}</th>
                <th ts-criteria="action">{{'AUDIT.ACTION' | translate}}</th>
                <th ts-criteria="mainEntity">{{'AUDIT.ENTITY' | translate}}</th>
                <th ts-criteria="status">{{'AUDIT.STATUS' | translate}}</th>
                <th ts-criteria="details">{{'AUDIT.DETAILS' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in audit.log | filter: searchFilter" ts-repeat>
                <td align="center">{{item.date | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td align="center">{{item.account}}/{{item.user}}</td>
                <td align="center">{{item.action}}</td>
                <td align="center">{{item.mainEntity}}</td>
                <td align="center">{{item.status}}</td>
                <td align="center" title="{{item.details}}">{{item.details}}</td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination pagination-sm" >
                <li ng-show="showPreviousPages">
                    <a href="#" aria-label="Previous" ng-click="previousPages()">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="page in pages" class="{{page==audit.currentPage ?'active':''}}">
                    <a href="#" ng-click="getAuditLog(page)">{{page}}</a>
                </li>

                <li ng-show="showNextPages" ng-click="nextPages()">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--<div class="modal-footer centered-text div-grey">-->

<!--</div>-->
