<div class="content" style="min-height: 10px;padding-top:0px;padding-bottom:0px;">
    <div class="box box-primary ">
        <div class=" box-body center-block"  style="width:900px;">
            <a class="btn btn-app" ng-class="!isActionApplicable() ? 'disabled' : 'action-menu-button'"  ng-click="openImageAccessModal()">
                <i class="fa fa-flask"></i> {{'HOME.DR_TEST_MSG' | translate}}
            </a>
            <a class="btn btn-app" ng-class="!isActionApplicable() ? 'disabled' : 'action-menu-button'"  ng-click="openFailoverModal()">
                <i class="fa fa-files-o"></i> {{'HOME.FAILOVER_MSG' | translate}}
            </a>
            <a class="btn btn-app" ng-class="!isActionApplicable() ? 'disabled' : 'action-menu-button'"  ng-click="openRecoverModal()">
                <i class="fa fa-cloud-download"></i> {{'HOME.RESTORE_PRODUCTION_MSG' | translate}}
            </a>
            <a class="btn btn-app action-menu-button"   ng-click="openAuditLogModal()">
                <i class="fa fa-building-o"></i> {{'HOME.AUDIT_LOG' | translate}}
            </a>
            <a class="btn btn-app" ng-class="!isActionApplicable() ? 'disabled' : 'action-menu-button'"  ng-click="openEditCgModal()">
                <i class="fa fa-edit"></i> {{'HOME.EDIT_MSG' | translate}}
            </a>
            <a class="btn btn-app" ng-class="!isActionApplicable() ? 'disabled' : 'action-menu-button'"  ng-click="openBookmarksModal()">
                <i class="fa fa-bookmark-o"></i> {{'HOME.ADD_BOOKMARK_MSG' | translate}}
            </a>
            <!--<a class="btn btn-app" ng-class="!isActionApplicable() ? 'disabled' : 'action-menu-button'"  ng-click="openImageAccessModal()">-->
            <!--<i class="fa fa-flask"></i> {{'HOME.DR_TEST_MSG' | translate}}-->
            <!--</a>-->
            <a class="btn btn-app" ng-class="!isActionApplicable() ? 'disabled' : 'action-menu-button'"  >
                <i class="fa fa-bullhorn"></i> {{'HOME.SERVICE_REQUEST_MSG' |  translate}}
            </a>
            <a class="btn btn-app action-menu-button"   ng-click="openCreateCgModal()">
                <i class="fa fa-plus-circle"></i> Create CG
            </a>
        </div>
    </div>
</div>
