<div layout="column" layout-align="center center">


    <div layout="column" layout-align="center center">
        <h1>'Allo, 'Allo!</h1>

        <img src="./images/yeoman.png" alt="I'm Yeoman">

        <br>
            Always a pleasure scaffolding your apps.
        <br>

        <a ng-href="#/app/about" layout-padding ><ng-md-icon icon="thumb_up"></ng-md-icon></a>
    </div>

    <div layout="column">
        <div ng-repeat="item in awesomeThings">
            <h4>{{item.title}}</h4>

            <p>
                {{item.description}}
            </p>
        </div>


    </div>
</div>