<div class="modal-content modal-primary">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Edit Consistency Group: <b>{{vmGsAndCgFlatData[protectedSelectedIndex].name}}</b></h4>
    </div>
    <form name="edit" ng-submit="editCg()">
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label for="cgName" class="col-xs-3 control-label">Group Name:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <div class="has-error">
                                <label  ng-hide="cgName.length != null" class="control-label" for="cgName"><i class="fa fa-times-circle-o"></i> Please enter Group Name</label>
                            </div>
                            <input ng-model="cgName" id="cgName"   class="form-control" type="text" required/>
                        </div><!-- /.form-group -->
                    </div>
                </div>

                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Group Set Membership:</label>
                    <div class="col-xs-7">
                        <div class="form-group">
                            <select ng-model="selectedGroupSet"
                                    ng-options="currGroupSet.name for currGroupSet in groupSets"
                                    ng-change="selectGroupSet(selectedGroupSet, oldValue)" ng-click="oldValue = selectedGroupSet"
                                    class="form-control " >
                            </select>

                        </div><!-- /.form-group -->
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-default" ng-click="removeGroupSetMemebership()">
                            Clear
                        </button>
                    </div>
                </div>

                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Protected VMs:</label>
                    <div class="col-xs-9" >
                        <div class="form-group clearfix">
                            <!--<div class="col-xs-4 col-sm-4 col-md-4 margin-top-lg">-->
                            <!--{{vm.name}}<white-space> </white-space>-->
                            <!--</div>-->
                            <div ng-repeat="vm in selectedVms" class="separator-vm">
                                <div class="form-group clearfix">
                                    <div class="col-xs-3"><b>Name Vm</b></div>
                                    <div class="col-xs-9"><b>{{vm.name}}</b></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-xs-3"><b>Critical</b></div>
                                    <div class="col-xs-9"><input type="checkbox" id="criticalVmId" ng-model="vm.critical"></div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-xs-3"><b>Priority</b></div>
                                    <div class="col-xs-9">
                                        <select class="form-control" ng-model="vm.sequenceNumber"
                                                ng-options="selectedItem
					                     for selectedItem in sequenceNumbers">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-3"><b>Select(Vm)</b></div>
                    <div class="col-xs-9">
                        <div class="has-error">
                            <label ng-hide="selectedVms.length != null" class="control-label" ><i class="fa fa-times-circle-o"></i> Please select VM</label>
                        </div>
                        <multiselect ng-model="selectedVms" options="cgVmsJoinedCandidates" id-prop="id"
                                     display-prop="name" required></multiselect>
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label for="selectedPackage" class="col-xs-3 control-label">Service Class:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <select ng-model="selectedPackage" id="selectedPackage"
                                    ng-options="package.displayName for package in relevantPackages"
                                    class="form-control">
                            </select>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label" for="vmStructureData"> Protect from: </label>
                    <div class="col-xs-9">
                        <div class="form-group" id="vmStructureData">
                            <b>{{vmStructureData.systemInfo.productionCluster.name}}</b>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label" for="vmStructureDataTo">To:</label>
                    <div class="col-xs-9">
                        <div class="form-group" id="vmStructureDataTo">
                            <b>{{vmStructureData.systemInfo.replicaClusters[0].name}}</b>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Description:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <b>{{selectedPackage.description}}</b>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label"> Journal Size:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <b><rzslider rz-slider-model="priceSlider"></rzslider></b>
                        </div><!-- /.form-group -->
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="col-xs-3 control-label">Enable Replication:</label>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <input type="checkbox" ng-model="enableReplication"/>
                        </div><!-- /.form-group -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger  pull-left" >Create</button>
            <button type="button" class="btn btn-outline pull-right" data-dismiss="modal" ng-click="cancel()">Close</button>
        </div>
    </form>
</div>

