<div class="modal-header modal-header-primary">
    <a class="close" ng-click="cancel()">x</a>
	<h3 class="modal-title">
		<div class="centered-text">Edit Consistency Group: <b>{{vmGsAndCgFlatData[protectedSelectedIndex].name}}</b></div>
	</h3>
</div>
<div class="modal-body">

	<br/>
	<table class="table table-condensed table-striped">
		<thead>
		</thead>
		<tbody>
			<tr>
	            <td margin-top>
	                <div class="row">
	                    <div class="col-xs-12 col-sm-12 col-md-12 radio">
	                        Group Name:
	                    </div>
	                </div>
	            </td>
	            <td>
	                <div class="row">
	                    <div class="col-xs-6 col-sm-6 col-md-6 margin-top">
	                        <input ng-model="cgName"
	                               class="form-control" type="text"/>
	
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 margin-top">
	                    </div>
	                </div>
	
	            </td>
	        </tr>
	        <tr>
	            <td margin-top>
	                <div class="row">
	                    <div class="col-xs-12 col-sm-12 col-md-12 radio">
	                        Protected VMs:
	                    </div>
	                </div>
	            </td>
	            <td>
	                   <div class="row" ng-repeat="vm in selectedVms">
	                       		<div class="col-xs-4 col-sm-4 col-md-4 margin-top-lg">
	                        		{{vm.name}}<white-space> </white-space>
	                        	</div>
	                        	<div class="col-xs-3 col-sm-3 col-md-3 margin-top-lg">
		                         	<label class="checkbox-inline">
								  		<input type="checkbox" id="criticalVmId" ng-model="vm.critical"> Critical
									</label>
								</div>
		                        <div class="col-xs-5 col-sm-5 col-md-5 margin-top-lg">    
			                        <div class="row">
					                    <div class="col-xs-6 col-sm-6 col-md-6">
					                        Priority
					                    </div>
					                    <div class="col-xs-6 col-sm-6 col-md-6">
					                        <select class="form-control" ng-model="vm.sequenceNumber">
					                            <option>1</option>
					                            <option>2</option>
					                            <option>3</option>
					                            <option>4</option>
					                            <option>5</option>
					                        </select>
					                    </div>
					                </div>
				                </div>
				                
	                        
	                        
	                   </div>								
	                          
	                   <br/>
	                   <div class="row">
	                       <div class="col-xs-6 col-sm-6 col-md-6 margin-top-lg">
	                          <multiselect ng-model="selectedVms" options="cgVmsJoinedCandidates" id-prop="id"
	                                   display-prop="name"></multiselect>
	                        </div>
	                        <div class="col-xs-6 col-sm-6 col-md-6 margin-top-lg">
	                        </div>
	                   </div>
	
	            </td>
	        </tr>
			
		</tbody>					    
	</table>
</div>
<div class="modal-footer centered-text div-grey">
	<button type="button" class="btn btn-primary" ng-click="imageAccess()">
	         Save
	</button>
</div>

