
<div class="section">
    <h3 align="center">List of systems connected to RPSP</h3>
    <div  align="center" class="preloader-wrapper big active" ng-hide="data">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <form class="col s12">
                <a class="col s1 btn waves-effect waves-light green"><i
                    class="material-icons">add</i></a>
                <div class="input-field col s3">
                    <input placeholder="x.x.x.x" id="systemIp" type="text" class="validate">
                    <label for="systemIp">RP4VM SP system IP</label>
                </div>
                <div class="input-field col s2">
                    <input placeholder="admin" id="username" type="text" class="validate">
                    <label for="username">RP4VM SP system user name</label>
                </div>
                <div class="input-field col s2">
                    <input placeholder="password" id="password" type="password" class="validate">
                    <label for="password">RP4VM SP system user password</label>
                </div>
                <div class="input-field col s3">
                    <input type="checkbox" class="filled-in" id="dr2c" checked="checked"/>
                    <label for="dr2c">Tenant host production VMs</label>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <pre>
        <code>
            {{data}}
        </code>
    </pre>
</div>
