<md-toolbar layout="row">

    <div class="md-toolbar-tools">
        <h2>
            <span>Self-Service Portal Admin Console</span>
        </h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" aria-label="Favorite">-->
            <!--<ng-md-icon icon="favorite" style="fill:white"></ng-md-icon>-->
        <!--</md-button>-->
        <a href="/rpsp">Back to Portal</a>
        <md-button class="md-icon-button md-hue-1" aria-label="Logout" ng-href="/rpsp/logout-action">
            <ng-md-icon icon="exit_to_app" style="fill:white" ></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
<main>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab md-active="activeState=='app.systems'">
            <md-button flex ng-click="go('/app/systems')">Systems</md-button>
        </md-tab>
        <md-divider></md-divider>
        <md-tab  md-active="activeState=='app.packages'">
            <md-button flex ng-click="go('/app/packages')">Packages</md-button>
        </md-tab>
        <md-divider></md-divider>
        <md-tab md-active="activeState=='app.tenants'">
            <md-button flex ng-click="go('/app/tenants')">Tenants</md-button>
        </md-tab>
        <md-divider></md-divider>
        <md-tab md-active="activeState=='app.users'">
            <md-button flex ng-click="go('/app/users')">Users</md-button>
        </md-tab>
        <md-divider></md-divider>
        <md-tab md-active="activeState=='app.vms'">
            <md-button flex ng-click="go('/app/vms')">Virtual Machines</md-button>
        </md-tab>
        <md-divider></md-divider>
        <md-tab md-active="activeState=='app.tools'">
            <md-button flex ng-click="go('/app/tools')">Tools</md-button>
        </md-tab>
    </md-tabs>

    <md-content flex id="content">
        <md-content layout-padding ui-view="menuContent">

        </md-content>
    </md-content>
    <!--<md-bottom-sheet flex-sm>-->
        <!--<md-subheader>Created by BDG</md-subheader>-->
    <!--</md-bottom-sheet>-->
</main>



