<md-dialog aria-label="List dialog">
    <md-dialog-content layout-padding>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="system.testing"></md-progress-circular>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block">
                <label>Cluster System Name</label>
                <input ng-model="system.name">
            </md-input-container>
        </div>
        <div layout-gt-sm="column">
            <div layout-gt-sm="row">
                <md-select name="drttc" ng-model="system.isDrttc" required>
                    <md-option value="true">Disaster Recovery <b>to</b> the Cloud</md-option>
                    <md-option value="false">Disaster Recovery <b>in</b> the Cloud</md-option>
                </md-select>
            </div>
            {{system.isDrttc}}
            <!--<md-checkbox ng-model="system.isDrttc"-->
            <!--aria-label="Select if system is for DR to the cloud">-->
            <!--Disaster Recovery to the Cloud-->
            <!--</md-checkbox>-->
            <div layout="row" >
                <md-checkbox ng-model="system.multiTenancy"
                             aria-label="Check if system is for multiple tenants">
                    Multi Tenancy
                </md-checkbox>
            </div>
        </div>

        <md-input-container class="md-block">
            <label>RP4VM System IP (cluster IP on PS side)</label>
            <input ng-model="system.ip">
        </md-input-container>
        <md-input-container class="md-block">
            <label>User</label>
            <input ng-model="system.user">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="system.password" type="password">
        </md-input-container>
        <div ng-repeat="cluster in system.clusters">
            <div layout="column">
                <md-input-container>
                    <label>Cluster real name</label>
                    <input ng-model="cluster.clusterName" disabled>
                </md-input-container>
                <div layout-padding layout="column">
                    <md-input-container>
                        <label>Cluster User-Assigned Name</label>
                        <input ng-model="cluster.friendlyName">
                    </md-input-container>
                    <md-input-container>
                        <label>Cluster country</label>
                        <input ng-model="cluster.country">
                    </md-input-container>
                </div>
            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="testSystem()" class="md-primary">
            Test
        </md-button>
        <md-button ng-click="addSystem()" class="md-primary">
            Add
        </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
