<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
</div>
<div layout="column" ng-hide="loading">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

        <h2>List of RecoverPoint systems connected to the Self-Service Portal</h2>
        <md-button class="md-fab" aria-label="New system" ng-click="showDialog()">
            <ng-md-icon icon="more_vert" style="fill:white"></ng-md-icon>
        </md-button>
    </section>
    <md-card style="margin:0px">
        <md-subheader>Filter by search</md-subheader>

        <md-input-container style="margin:15px;">
            <label>Search</label>
            <input type="text" ng-model="filterName">
        </md-input-container>

        <div ng-hide="true">
            {{(filteredItems = (nutritionList | filter: filterName))}}
        </div>
    </md-card>
    <section layout="column">
        <h3>Disaster Recovery <b><i>to</i></b> the cloud</h3>

        <mdt-table sortable-columns="true" animate-sort-icon="true">
            <mdt-header-row>
                <mdt-column align-rule="left">System Name</mdt-column>
                <mdt-column align-rule="left">RP Cluster IP address</mdt-column>
                <mdt-column align-rule="left">RP Cluster User</mdt-column>
                <mdt-column align-rule="left">RP Clusters</mdt-column>
            </mdt-header-row>
            <mdt-row ng-repeat="system in config.systems">
                <mdt-cell>{{system.name}}</mdt-cell>

                <mdt-cell>{{system.ip}}</mdt-cell>
                <mdt-cell>{{system.user}}</mdt-cell>
                <mdt-cell html-content="true">sdadaxxx</mdt-cell>
            </mdt-row>
        </mdt-table>
    </section>
    <section layout="column">
        <div layout="row">
            <h3>Dissaster Recovery <b>in</b> the cloud</h3>
        </div>

        <mdt-table sortable-columns="true" animate-sort-icon="true">
            <mdt-header-row>
                <mdt-column unit="" order-by="name">System Name</mdt-column>

                <mdt-column title="Multi Tenancy">MT</mdt-column>
                <mdt-column>RP Cluster IP address</mdt-column>
                <mdt-column>RP Cluster User</mdt-column>
                <mdt-column width="50%">RP Clusters</mdt-column>

            </mdt-header-row>

            <mdt-row ng-repeat="system in config.systems">
                <mdt-cell>{{system.name}}</mdt-cell>

                <mdt-cell>
                    {{system.multiTenancy? 'YES': 'NO'}}
                    <!--<md-checkbox ng-model="" aria-label="Multi Tenancy">-->
                        <!--s-->
                    <!--</md-checkbox>-->
                </mdt-cell>
                <mdt-cell>{{system.ip}}</mdt-cell>
                <mdt-cell>{{system.user}}</mdt-cell>
                <mdt-cell html-content="true">
                    <div class="row" ng-repeat="cluster in system.clusters">
                        <!--<span class="col-sm-4">{{cluster.clusterId}}</span>-->
                        <span class="col-sm-4">{{cluster.clusterName}}</span>
                        <span class="col-sm-4">
                           {{cluster.friendlyName}}</span>
                        <span class="col-sm-4">
                        <a href="#"
                           title="Define the billing entity for this cluster. The country can be configured per vRPA cluster"
                           ng-click="updateCluster(system.id,cluster)">{{cluster.country}}</a></span>
                    </div>
                </mdt-cell>
            </mdt-row>


        </mdt-table>
    </section>
    <pre>
            {{json | json:spacing}}
    </pre>

</div>
