.centered-text {
    text-align: center;
}

.margin-top {
    margin-top: 2px;
}

.margin-top-lg {
    margin-top: 5px;
}

.margin-bottom {
    margin-top: 2px;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

white-space { white-space: pre; }
