.login-form 
{
			max-width: 300px;
			margin-top: 100px auto;
			margin: 0 auto;
}
#inputUsername {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#inputPassword {
	border-top-left-radius: 0;
			border-top-right-radius: 0;
}
#createAccount {
	text-align: center;
}