<div class="modal-header modal-header-primary">
    <a class="close" ng-click="cancel()">x</a>
    <h3 class="modal-title">
        <div class="centered-text">{{'BACKUP-ACCESS.MSG' | translate}} <b>{{vmName}}</b></div>
    </h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 radio">
            <label>
                <!--<input type="radio" ng-disabled="selectedCopy.imageAccess != 'Disabled'"-->
                <!--value="snapshot">-->
                {{'BACKUP-ACCESS.BACKUP-LIST' | translate}}
                <!--</input>-->
            </label>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 margin-top">
            <select ng-model="selectedBackup"
                    ng-options="b for b in backups"
                    ng-disabled="enabled"
                    class="form-control">
            </select>
        </div>
    </div>

</div>
<div class="modal-footer centered-text div-grey">
    <button type="button" class="btn btn-primary {{selectedBackup==''?'disabled':'active'}}" ng-click="imageAccess()">
        {{enabled ? ('BACKUP-ACCESS.DISABLE_MSG'|translate):('BACKUP-ACCESS.ENABLE_MSG'|translate)}}
    </button>
</div>

