<div class="modal-content modal-primary">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Failover Consistency Group: <b>{{vmGsAndCgFlatData[protectedSelectedIndex].name}}</b></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group">

                <div ng-show="!showError"><br/></div>
                <div ng-show="showError" class="alert alert-danger centered-text">
                    <strong>Failover problem!</strong> Cannot start the requested recovery activity until all of the critical VMs in the group have powered up,
                    all of the user prompts have been dismissed, and all of the user scripts have been run successfully.
                </div>


                <label for="SELECT_COPY_MSG" class="col-xs-3 control-label">{{'IMAGE-ACCESS.SELECT_COPY_MSG' | translate}}</label>
                <div class="col-xs-9">
                    <div class="form-group">
                        <select ng-model="selectedCopy"
                                ng-options="copy.name for copy in vmGsAndCgFlatData[protectedSelectedIndex].
	                                                      replicaClusters[0].groupCopySettings"
                                ng-disabled="selectedCopy.imageAccess != 'Disabled'"
                                class="form-control select2" id="SELECT_COPY_MSG" style="width: 100%;">
                        </select>
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="col-xs-3 control-label">{{'IMAGE-ACCESS.SELECT_IMAGE_MSG' | translate}}:</label>
                <div class="col-xs-9">
                    <div class="form-group">


                        <label class="col-xs-12 minus-padding-left">
                            <input type="radio" ng-model="imageAccessType" ng-disabled="selectedCopy.imageAccess != 'Disabled'" value="latest" class="minimal">
                            {{'IMAGE-ACCESS.LATEST_IMAGE_MSG' | translate}}
                        </label>


                        <label class="col-xs-12 minus-padding-left">
                            <input type="radio" ng-model="imageAccessType" ng-disabled="selectedCopy.imageAccess != 'Disabled'" value="snapshot" class="minimal">
                            {{'IMAGE-ACCESS.FROM_SNAPSHOT_LIST_MSG' | translate}}
                            <select ng-model="selectedSnapshot"
                                    ng-options="snapshot.closingTimestamp for snapshot in selectedCopy.snapshots"
                                    ng-disabled="selectedCopy.imageAccess != 'Disabled'"
                                    class="form-control">
                            </select>
                        </label>


                        <label class="col-xs-12 minus-padding-left">
                            <input type="radio" ng-model="imageAccessType" ng-disabled="selectedCopy.imageAccess != 'Disabled' || selectedCopy.bookmarks.length == 0" value="bookmark" class="minimal">
                            {{'IMAGE-ACCESS.SPECIFIC_BOOKMARK_MSG' | translate}}
                            <select ng-model="selectedBookmark"
                                    ng-options="bookmark.name + ' (AC)' + ' - ' + bookmark.closingTimestamp for bookmark in selectedCopy.bookmarks"
                                    ng-disabled="selectedCopy.imageAccess != 'Disabled' || selectedCopy.bookmarks.length == 0"
                                    class="form-control">
                            </select>
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group clearfix ">
                <label for="TEST_NETWORK_MSG" class="col-xs-3 control-label">{{'IMAGE-ACCESS.TEST_NETWORK_MSG' | translate}}</label>
                <div class="col-xs-9">
                    <div id="TEST_NETWORK_MSG"><strong>{{'IMAGE-ACCESS.TENANT_TESTING_MSG' | translate}}</strong></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger  pull-left" ng-disabled="selectedCopy.imageAccess == 'Disabled'" ng-click="activateFailover()">Activate Failover</button>
        <button type="button" class="btn btn-danger  pull-left" ng-disabled="selectedCopy.imageAccess != 'Disabled'" ng-click="imageAccess()">DR Test - Enable Access</button>

        <button type="button" class="btn btn-outline pull-right" data-dismiss="modal" ng-click="cancel()">Close</button>
    </div>
</div>

